:host ::ng-deep{

  .card{
    background-color: #F3F4F4;
    width: 250px;
    height: 100%;

    & .p-panelmenu .p-panelmenu-content{
      background-color: #F3F4F4;
      border: 0px;
    }

    & .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
      background-color: #F3F4F4;
      border: 0px;
    }

    & .p-panelmenu .p-panelmenu-header-action{
      display: flex;
    }

    .p-panelmenu{
      padding: 12px;
      height: 100%;
      .p-panelmenu-panel{
        margin-bottom: 12px;
      }
    }

    .p-icon-wrapper{
      order: 3;
    }

    .p-menuitem-text{
      flex: 1;
    }

    .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action{
      padding: 10px;
    }
  }

}
